body {
    background-color: white;
}

#topeng{
    background-color: white;
}

#bakso{
    background-color: blueviolet;
}

#kepala{
    background-color: aquamarine;
}

.warna{
    color: blueviolet;
}

.violet{
    color:red;
}